{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
  {% if articles %}
    <table id="movie_list" class="table table-striped">
      <thead>
        <tr>
          <th>Movie Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for movie in movies %}
          <tr>
            <td>{{ movie.title }}</td>
            <td>
              <a href="/article/{{ movie.id }}" class="btn btn-dark">Show</a>
              <a href="/article/edit/{{ movie.id }}" class="btn btn-light">Edit</a>
              <a href="#" class="btn btn-danger delete-article" data-id="{{ movie.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No movie to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}